body{
	padding: 0;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header{	
	background-color: black;
	color: white;
}

main{
	
}
.website-header{
	padding: 20px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 50px;
	height: 50px;	
	margin: 0 30px;
}
.website-header h1{
	margin: auto 0;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
	color:#F5BC04;
}
.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color:#e08b6c;
	font-weight: 600;
	margin: auto 0;
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;	
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#F5BC04;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding: 0 10px;
	font-size: 12px;
}
#popular-news{
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5%;
}
#popular-news h2{
	margin: 0;
	padding: 5px;
	color: #fff;
}
#featured h2{
	background-color: black;
}
#latest h2{
	background-color: darkred;
}
#our-picks h2{
	background-color: darkblue;
}
#featured{
	flex: 2;
}
#latest,#our-picks{
	flex: 1;
}
#popular-news img{
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 500ms;
}
.carousel, .news-container{
	position: relative;
}
.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}
.news-container .carousel-text{
	font-size: 18px;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}
.news-container:hover > .carousel-text{
	bottom: 10px;
}
.news-container:hover > img{
	filter: brightness(0.4);
}
.music{
	background: cyan;	
	display: flex;
	flex-wrap: wrap;
	padding: 10 5%;
	justify-content: space-between;
	color: black;
}
.category{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
	justify-content: space-between;
}	

.INDIA h2{	
	background-color: black;
	color: white;
}

.INDIA a{
	color:white;
	text-decoration: none;
}

.INDIA h2:hover{
	color:#F5BC04;
}

.INDIA a:hover{
	color:#F5BC04;
}

.INDIA .Top10{
	color:black;
	text-decoration: none;
}


.INTERNATIONAL h2{
	background-color: black;
	color: white;
}

.INTERNATIONAL a{
	color:white;
	text-decoration: none;
}
.INTERNATIONAL .Top10{
	color:black;
	text-decoration: none;
}

.INTERNATIONAL h2:hover{
	color:#F5BC04;
}

.INTERNATIONAL a:hover{
	color:#F5BC04;
}

.INDIA h2, .INTERNATIONAL h2{
    margin: 10px 0 0 0;
	padding: 0 10px;
}

.music img{
	margin: 20px 0 0 65px;
	width: 250px;
	height: 250px;
}
.INDIA,.INTERNATIONAL{
	flex-basis: 45%;
}
aside{
	width: 50%;
	padding: 10px;
	flex-basis: 25%;
	border: 4px solid black;
	border-radius: 12px;
	margin: 10 0 300 0;
	color:black;
}





}
.social-links p{
	text-align: none;
}
.Top{
	
	display: flex;
	width:100%;
	border: 4px solid cyan;
	border-radius: 10px;
	background-color: black;
	color:white;
}
.Top img{
	width: 70px;
	height: 70px; 
	margin: 10px;
}
.Top p{
	font-size: 14px;
	font-weight: bold;
	margin: auto;
}

.Top p:hover{
	color:#F5BC04;
}

.social-links{
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	justify-content: space-between;
	background-color: black;
	color: white;
}
.social-link{
	display: flex;
	flex-wrap: wrap;
	padding: 5%;
	justify-content: space-between;
	background-color: cyan;
	color: black;
}
.social-links section{
	flex-basis: 30%;
}
.social-icons-footer i{
	font-size: 37px;
	padding: 5px;
}

.social-icons-footer i:hover{
	color:#F5BC04;
}

.instagram img{
	padding: 5px;
}
.footer-buttons{
	display: block;
	border: 1px solid #2196f3;
	color: #2196f3;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}
.footer-buttons:hover{
	color: #fff;
	border: 1px solid #fff;
	background-color: #2196f3;
}
.copyright{
	width: 100%;
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.breaking-news-section{	
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}	
	.category, aside, .category article,.social-links section{
		flex-basis: 100%;		
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(images/menu.jpg);
		z-index: 16;
	}
}
